<div class="sidebar" id="sidebar">
  {% if user.role == "admin" %}
    <a href="{% url 'teacher_list' %}">👨‍🏫 Add Teacher</a>
    <a href="{% url 'add_student' %}">👩‍🎓 Add Student</a>
    <a href="{% url 'manage_attendance' %}">📅 Manage Attendance</a>
    <a href="{% url 'manage_courses' %}">📚 Manage Courses</a>
    <a href="{% url 'announcements:manage_announcements' %}">📢 Announcements</a>
    <a href="{% url 'manage_departments' %}">🏫 Departments</a>
    <a href="{% url 'manage_timetable' %}">📅 Manage Timetable</a>
    <a href="{% url 'create_attendance_sheet' %}" class="btn btn-danger">Create New Attendance</a>
  {% elif user.role == "teacher" %}
    <a href="{% url 'teacher_courses' %}">📚 My Courses</a>
    <a href="{% url 'announcements:manage_announcements' %}">📢 Announcements</a>

    <!-- Static teacher links (always visible) -->
    <a href="{% url 'grade_submissions' %}">🟢 Submissions To Grade</a>
<a href="{% url 'manage_assignments'  %}">📝 Manage Assignment</a>
{% if assignment %}
    <a href="{% url 'assignment_submissions' assignment_id=assignment.id %}">View Submissions</a>
{% endif %}
<a href="{% url 'mark_attendance' sheet_id=1 %}">📅 Mark Attendance</a>

  {% elif user.role == "student" %}
    <a href="{% url 'student_courses' %}">📚 View Courses</a>
{% with user_pending_assignments=data.pending_assignments %}
    {% if user_pending_assignments %}
        <a href="{% url 'submit_assignment' assignment_id=user_pending_assignments.0.id %}">📝 Submit Assignment</a>
    {% endif %}
{% endwith %}
<a href="{% url 'student_attendance' %}">Attendance</a>
    <a href="{% url 'announcements:manage_announcements' %}">📢 Announcements</a>

  {% endif %}
</div>
